<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotePad</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main">
        <h1>
            Note Pad
        </h1>
        <form class="inner" action="/created" method="post">
            <input type="text" name="title" id="title" placeholder="Title"><br><br>
            <textarea name="details" id="details" placeholder="Details"></textarea><br>
            <input type="submit" value="Submit" id="submit">
        </form>
        <div class="file">
            <% if(files.length> 0){ %>
                <% files.forEach(function(value){ %>

                    <div id="added"><%= value %></div>
                    <a href="/file/<%= value %>">readmore</a>              <a href="/editfile/<%= value %>">edit</a><br><br>

                    <% }) %>
                        <% } else { %>
                            <h1>File not Added</h1>
                            <% } %>
        </div>
        <script src="/javascripts/script.js"></script>
</body>

</html>