<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readfile</title>
    <style>
        *{
            margin: 20px;
        }
        a{
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1><%= filename %></h1>
    <p><%= filedata %></p><br><br>
    <a href="/"><p>Back to Home</p></a>
</body>
</html>