form{
    display: block;
    margin: 40px;
    padding: 0%;
}


#title{
    min-width: 500px;
    padding: 8px;
    outline:darkslateblue;
    border: 2px transparent;
    border-radius: 15px;
    background-color: #b1acac;
    color: #000000;
}

#submit{
    padding: 8px;
    border-radius: 15px;
    border: transparent;
    background-color: rgb(231, 217, 22);
    font-weight: 700;
}
a{
    text-decoration: none;
    color: blue;
}